.ulCls {
  display: block;
  list-style-type: disc;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.olCls {
  display: block;
  list-style-type: decimal;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.liCls {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}

.h2Cls {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  unicode-bidi: isolate;
}

.h3Cls {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  unicode-bidi: isolate;
}

.h4Cls {
  display: block;
  font-weight: bold;
  unicode-bidi: isolate;
}

.h5Cls {
  display: block;
  font-size: 0.83em;
  font-weight: bold;
  unicode-bidi: isolate;
}

.h6Cls {
  display: block;
  font-size: 0.67em;
  font-weight: bold;
  unicode-bidi: isolate;
}

.imgCls {
  width: 100%;
  object-fit: cover;
}
